<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of formulario">
      <ion-label>{{entry.artista}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <form [formGroup]="cadastro">
    <ion-item>
      <ion-label position="stacked">Nome do filme<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do diretor<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="diretor"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Senha (pq? não sei rs)</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="enviarCadastro()" [disabled] = "!cadastro.valid">Cadastrar filme</ion-button>
    </div>
  </form>
</ion-content>